<div id="carouselExampleIndicators" class=" carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-black" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-black" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-black" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-black" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-black" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="bg-black" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="bg-black" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class="bg-black" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" class="bg-black" aria-label="Slide 9"></button>

  </div>

    <!-- Slides -->
    <div class="container-fluid carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active" style=" max-width: 100%; max-height: 90vh;">
        <div class="d-flex p-2 " >
            <img src="/static/images/bannerslide1.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 1">
        </div>
        </div>
    <!-- Slide 2 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2" >
        <img src="/static/images/bannerslide2.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 2">
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide3.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 3">
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide4.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;"  alt="Slide 4">
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide5.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 5">
      </div>
    </div>
    <!-- Slide 6 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide6.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 6">
      </div>
    </div>
    <!-- Slide 7 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide7.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 7">
      </div>
    </div>
      <!-- Slide 8 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide8.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 7">
      </div>
    </div>
      <!-- Slide 9 -->
    <div class="carousel-item" style=" max-width: 100%; max-height: 90vh;">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/bannerslide9.png" class="img-fluid rounded shadow w-100" style="max-height: 90vh;" alt="Slide 7">
      </div>
    </div>
  </div>
</div>
