<div id="carouselExampleIndicators" class=" carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-black" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-black" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-black" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-black" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-black" aria-label="Slide 5"></button>
  </div>

  <!-- Slides -->
  <div class="container carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/petoffer0.png" class="img-fluid rounder shadow w-100" style="object-fit: contain; width: 100%;" alt="Slide 1">
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item active">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/petoffer1.png" class="img-fluid rounder shadow w-100" style="object-fit: contain; width: 100%;" alt="Slide 2">
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/petoffer2.png" class="img-fluid rounder shadow w-100" style="object-fit: contain; width: 100%;" alt="Slide 3">
      </div>
    </div>
    
    <!-- Slide 4 -->
    <div class="carousel-item">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/petoffer3.png" class="img-fluid rounder shadow w-100" style="object-fit: contain; width: 100%;" alt="Slide 4">
      </div>
    </div>
     <!-- Slide 5 -->
    <div class="carousel-item">
      <div class="d-flex align-items-center justify-content-center p-2">
        <img src="/static/images/petoffer4.png" class="img-fluid rounder shadow w-100" style="object-fit: contain; width: 100%;" alt="Slide 5">
      </div>
    </div>
  </div>
  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
